.container {
    top: 95%;
    position: relative;
    align-content: center;
}

.buttons {
    left: 45%;
    top: 50%;
    font-size: 20px;
    border-style: solid;
    border-radius: 7px;
    border-color: darkgray;
    background-color: lightgray;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover {
    background-color: darkgray;
}

.body {
    height: 99%;
}